:root {
  --card-background: #080c14ff;
  --background: #101828ff;
  --icon-blue: #468cddff;
  --icon-green: #05cd6aff;
  --gradient-green: #00dd78ff;
  --gradient-green: #00dd7a1c;
  --gradient-blue: #2981ffff;
  --gradient-blue: #2982ff21;
  --gradient-blue: #353535;
}
